node_red/flows/TTS.json
[
    {
        "id": "1ce7bbcd150442c5",
        "type": "tab",
        "label": "TTS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fae8342c7741e073",
        "type": "castv2-connection",
        "name": "",
        "target": "Mini",
        "host": "192.168.1.4",
        "port": "8009"
    },
    {
        "id": "c32c1bccb37da904",
        "type": "inject",
        "z": "1ce7bbcd150442c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "a5f980ee10a8be0a"
            ]
        ]
    },
    {
        "id": "f5bc6936a82a79bf",
        "type": "switch",
        "z": "1ce7bbcd150442c5",
        "name": "Buffer not empty",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "aa9eaff809e19ad9",
                "ff259d3f9bcf9cb7",
                "52b3cdc1e6d330cc"
            ]
        ]
    },
    {
        "id": "a5f980ee10a8be0a",
        "type": "file in",
        "z": "1ce7bbcd150442c5",
        "name": "Read buffer",
        "filename": "C:\\Users\\Howard\\Desktop\\AlexaASLR\\buffer\\string.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "f5bc6936a82a79bf"
            ]
        ]
    },
    {
        "id": "9556fa640841a654",
        "type": "file",
        "z": "1ce7bbcd150442c5",
        "name": "Clear buffer",
        "filename": "C:\\Users\\Howard\\Desktop\\AlexaASLR\\buffer\\string.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 710,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "aa9eaff809e19ad9",
        "type": "debug",
        "z": "1ce7bbcd150442c5",
        "name": "buffer_msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "ff259d3f9bcf9cb7",
        "type": "function",
        "z": "1ce7bbcd150442c5",
        "name": "Empty payload",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "9556fa640841a654"
            ]
        ]
    },
    {
        "id": "565b4406db90a92e",
        "type": "castv2-sender",
        "z": "1ce7bbcd150442c5",
        "name": "Google Home Mini",
        "connection": "fae8342c7741e073",
        "x": 710,
        "y": 260,
        "wires": [
            [
                "e403c7feb4f69311"
            ]
        ]
    },
    {
        "id": "52b3cdc1e6d330cc",
        "type": "function",
        "z": "1ce7bbcd150442c5",
        "name": "Format Msg",
        "func": "return {\n    payload: {\n        app: \"DefaultMediaReceiver\",\n            type: \"TTS\",\n                text: msg.payload,\n                    speed: 1, // optional to adjust TTS speed, defaults to 1\n                        language: \"en\", // optional to set TTS language, default to en\n                            metadata: { // optional unless desired, follows normal metadata rules noted above\n            title: \"Media title\"\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "565b4406db90a92e"
            ]
        ]
    },
    {
        "id": "e403c7feb4f69311",
        "type": "debug",
        "z": "1ce7bbcd150442c5",
        "name": "device_status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    }
]